@font-face {
    font-family: 'Marcellus SC';
    src: url('MarcellusSC-Regular.woff2') format('woff2'),
        url('MarcellusSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

